h1{
  margin: 35px;
  padding: 13px;
  color:rgb(235, 225, 245);
  font-family:Helvetica, sans-serif;
  font-size: 6vw;
  border-radius: 9px;
  border: 9px solid #fdfcfc;
  text-align: center;
  background-color: rgb(0, 66, 0);
}
.nav ul{
  background-color: rgb(167, 74, 120);
  border: 3px solid black;
  position: fixed;
  bottom: 0;
  width: 100%;
}
li {
  display: inline;
  padding-inline-start: 20px;
}

body{
  background-color: #17013d;
}
.testSection{
  background-color: white;
  margin: 50px;
  padding: 15%;
  color: black;
  text-align: center;
  font-size: 2vw;
  border: 3px solid burlywood;

}
div.show{
  margin: 3px;
  background-color: blanchedalmond;
}
div.show img{
  width: 300px;
  height: auto;
  float:left;
}
footer{
  text-align: center;
  font-size: small;
  background-color: violet;
}