h1{
  margin: 35px;
  padding: 13px;
  color:rgb(235, 225, 245);
  font-family:Helvetica, sans-serif;
  font-size: 6vw;
  border-radius: 9px;
  border: 9px solid #fdfcfc;
  text-align: center;
  background-color: rgb(0, 66, 0);
}
.nav {
  background-color: rgb(252, 252, 252);
}
.nav ul{
  border: 3px solid black;
  position: fixed;
  top: 0;
  width: 100%;
  text-decoration: none;
}
.nav ul li {
  display: list-item;
  padding-inline-start: 80px;
}

body{
  background-color: #17013d;
}
.testSection{
  background-color: white;
  margin: 40px;
  padding: 13%;
  color: black;
  font-size: 2vw;
  border: 3px solid burlywood;
}
.testSection ul li{
  list-style-type: square;
  display:list-item;
}
.testSection ol li{
  list-style-type: upper-roman;
}
p{
 text-align: center;
 font-size: large;
 color:blueviolet;
}
h2{
  text-align: center;
  color:blueviolet;
 }
div.show{
  margin: 3px;
  padding: 3px;
}
div.show img{
  width: 50%;
  height: auto;
  float:right;
  padding-right: 5px;
}
footer{
  text-decoration: none;
  text-align: center;
  font-size: larger;
  background-color: rgb(251, 249, 251);
}